<div class='message'>
  <span> <%= message.created_at.strftime('%H:%M:%S') %> </span>
  <span class="label label-success"> <%= message.user.name %> </span>
  <span> <%= message.body %> </span>
</div>
